<h1>Clubs</h1>


<div class="container">
  <% k = 0%>
  <%for club in Club.all%>
    <%if k%3 == 0 %>
      <div class="row">
    <%end%>
      <div class="col-sm-4 pb-4">
        <div class="card text-center" style="width: 22rem;">
            <div class="card-header">
                <h5 class="card-title text-center"><%=club.name%> Club</h5>
            </div>
          <img class="card-img-top" src="<%=club.logo%>" alt="Card image cap" width="460" height="180">
          <div class="card-body">
            <a href="cases/<%=club.id%>" class="btn btn-primary text-center">Club Case Book</a>
          </div>
        </div>
      </div>
    <%if k%3 == 2 %>
      </div>
    <%end%>
    <%k = k + 1 %>
  <%end%>
</div>


