<h1>
  Companies
</h1>

<a href="/companies/new">
  Add a new company
</a>

<hr style="pb-10">


<table style="height: 100px;">
  <tbody>
    
    <% k = 0 %>
    <%for company in Company.all%>
    <%if k%2 == 0%>
    
    <tr>
      
    <%end%>
    
    
      <td class="align-middle">
          <a href="/companies/<%=params["club_id"]%>/<%=company.id%>" class="text-center align-middle">
            <img src="<%=company.logo%>" style="width:100%; padding:50px;">
          </a>
      </td>
      
    <%if k%2 == 1%>
    </tr>
    <%end%>
    <%k = k+1%>
    <%end%>
  </tbody>
</table>

